@charset "utf-8";
/* 맨 위에 utf-8 인코딩 : CSS파일이 깨지지 않도록 인코딩 */

/* CSS영역 내 주석문 */
/* 웹 폰트 CDN(Content Delevery Network) */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Batang:wght@400;700&family=Nanum+Myeongjo&family=Song+Myung&display=swap");
/* 
    웹폰트 font-familiy 이름
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Gowun Batang', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Song Myung', serif;
*/
/* 
    @import url(주소)
    - 외부 CSS를 불러올때 사용하는 형식
    - 외부 CSS 파일을 하나로 합칠 때 많이 사용함
*/
/* 
    [ 모든 요소 공통 디자인요소 : 박스모델 ]
    1. 크기 : width 가로, height 세로
    2. 경계선 : border
    3. 내부여백 : padding
    4. 외부여백 : margin
    (여백공통방향 : top,bottom,left,right)
    ________________________________________

    [ CSS 속성 셋팅 형식 ]
    선택자{
        속성:값;
    }
    [ 선택자의 종류 ]
    1. 타입선택자 : 태그명(div,p,a 등)
    2. 아이디선택자 : #아이디명
    3. 클래스선택자 : .클래스명
    4. 자손선택자 : 띄어쓰기(div a)
    5. 직계자식선택자 : 오른쪽꺽쇠(div>a)(바로 밑)
    6. 종속선택자 : 요소명#아이디명 || 요소명.클래스명
    (div.mymy -> div인데 클래스가 mymy , 띄어쓰면 자식이 됨)
    7. 형제선택자 : 요소+요소(a+a)
    (앞 요소가 있는 선택자를 사용, 즉 2번째부터 사용 됨)
    8. 그룹선택자 : 선택자,선택자(html,body,h1,h2)
    (여러요소를 동시에 선택)
*/
/* 요소의 초기화
    -기존의 기본 세팅값 중 마진/패딩 초기화 */
html,body,h1,h2 {
    margin: 0;
    padding: 0;
}
/* 레이아웃 박스 공통 디자인 */
.rbx {
    /* 크기 : w800 -> 가로크기 */
    width: 800px;
    /* 외곽선 : bd 두께 종류 색상 */
    border: 1px dashed darkgray;
    /* border: 4px double darkgray; */
    /* 패딩 p20*/
    padding: 20px;
    /* 마진 마영오:중앙에 오는 박스 m0 > auto */
    margin: 0 auto;
    /* 
    [ 마진/패딩 개수별 정의 ]
    margin: 모든방향;
    margin: 위아래 양쪽;
    margin: 위 양쪽 아래;
    margin: 위 오른 아래 왼;(시계방향)
    */
    /* 둥근모서리 brad15 */
    border-radius: 15px;
}
/* 메인화면 이미지 */
.fimg {
    width: 100%;
    /* w100p */
}
/* 1. 상단영역 */
#top {
    background-color: #e2f0fd;
    /* 글자색상 */
    color: #004e00;
}
/* 타이틀 */
#top h1 {
    color: #4341be;
    font-size: 45px;
    font-weight: normal; /* fwn 글자두께 기본 */
    font-family: "Song Myung";
    /* 
    font-family : 글씨체
    값 - 콤마로 구분하여 우선순위 적용함
    (상위체가 없으면 하위체를 적용, 이도 없으면 브라우저 기본체를 표시)
    */
    text-shadow: 2px 2px 2px #0000007c;
    /* 
    text-shadow: 글자그림자
    값 - x축 y축 블러(경계흐림) 색
    콤마로 다중 그림자 사용 가능!
    */
    margin: 15px 0;
}
#top:hover {
    background-color: #cae2f8;
}
/* 상단 하단 텍스트 중앙 tac */
#top,#info{
    text-align: center;
}
/* 메뉴링크 */
#gnb a {
    color: #1916a3;
    text-decoration: none; /* tdn */
    font-size: 25px; /* fz */
    font-family: "Gowun Batang", serif; /* ff */
    vertical-align: -6px; /* va-4 */
    /* vertical-align: 인라인요소간 세로정렬(세로위치조정)
    값 - top/bottom/middle/baseline/숫자
    */
}
/* 가상클래스 :hover 마우스오버시 ,클래스를 준 것 같은 느낌*/
/* a+a 는 앞에 a요소가 있는 형제 a요소를 선택 */
/* 결과적으로 첫번째 a요소가 선택되지 않음 */
#gnb img:hover {
    width: 40px;
    transform: scale(1.1, 1.1);
}
#gnb a + a:hover {
    color: #00c300;
    text-decoration: overline;
    text-decoration-style: wavy;
    font-size: 26px;
}
/* 로고이미지 va-9 */
#gnb img {
    vertical-align: -9px;
}
/* 2. 메인영역 */
#cont {
    margin: 20px auto;
}
/* 3. 하단영역 */
#info {
    background-color: #bbb;
}
#info:hover {
    background-color: #9e9e9e;
}
/* 회사주소 */
#info address {
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-style: normal; /* fsn */
    font-family: "Gowun Batang", serif;
}
/* 담담자 span */
span.utxt {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: olivedrab;
}
/* 종속선택자로 동일 클래스명 다른 디자인으로 세팅 */
b.utxt {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: midnightblue;
}
