@charset "utf-8";
/* 서브페이지용CSS - sub.css */
/* 공통페이지용CSS 합치기 */
@import url(./common.css);

/* 서브페이지 공통 글자 설정 */
#cont {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 서브타이틀 */
h2.sub_tit{
    color: white;
    font-size: 28px;
    font-family: 'Song Myung', serif;
    font-weight: normal;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
    /* outline: 1px solid red; */
    /* 
        [ outline 요소 ]
        box모델의 필수속성은 아니지만
        박스의 외곽선을 표현해주며
        박스 자체에 크기에 영향을 주지 않음!
        outline : 두께 종류 색상
        border-radius도 적용됨
        -> 주로 사용되는 예는 input 입력창에 focus가 갈 때
        외곽선표시가 됨
    */
    border-radius: 10px;
    padding: 40px;
    /* 배경넣기 : 한번에 쓰기 */
    /* background: url(../images/art_fig4.jpg) no-repeat center/cover; */
    /* background: 색이반고윙/크; 배경색 이미지 반복 고정 위치/크기 */
    
    /* 배경넣기 : 속성별 쓰기 */
    /* 배경이미지 : bgi */
    /* 반복여부 : bgr */
    background-repeat: no-repeat;
    /* 배경위치 : pgp 가로 세로 */
    /* 배경크기 : pgz 가로 세로 (cover : 박스채우기)*/
    background-size: cover;
    margin-bottom: 30px;
    /* 박스 그림자 */
    box-shadow:
    inset 0 0 6px 5px #0000008c,
    2px 2px 4px 0px #0000007a;
    /* 
        [ box-shadow 속성 ]
        - 박스 외부/내부 그림자 설정속성
        - 값 : 옵션 X축 Y축 blur(경계선) spread 색상
        text-shadow와 달리 spread 속성이 있음
        이것은 그림자를 커지게 함!
        - 내부 그림자 옵션 : inset
        - 그림자 다중설정 :  콤마로 연속 사용 가능
    */
}
/* 부모 요소를 써주면 적용 우선순위가 올라감 */
/* 정치 배경이미지 */
h2.sub1 {
    background-image: url(../images/img_sub1_tit.jpg);
    background-position-y: 40%;
}
/* 경제 배경이미지 */
h2.sub2 {
    background-image: url(../images/img_sub2_tit.jpg);
    background-position-y: 40%;
}
/* 사회 배경이미지 */
h2.sub3 {
    background-image: url(../images/img_sub3_tit.jpg);
    background-position-y: 30%;
}
/* IT/과학 배경이미지 */
h2.sub4 {
    /* 배경이미지 : bgi */
    background-image: url(../images/img_sub4_tit.jpg);
    /* 배경위치 : pgp 가로 세로 */
    background-position-y: 40%;
}
/* TV/연예 배경이미지 */
h2.sub5 {
    background-image: url(../images/img_sub5_tit.jpg);
    background-position-y: 1%;
}
/* 언론사 로고 h32 */
.prlogo img {
    height: 32px;
    /* 
        이미지는 기본 비율을 가지고 있어서
        가로나 세로중 한쪽만 크기를 주면 나머지 방향은 자동으로 비율을 유지함
        가로, 세로를 다 주면 비율이 깨짐
    */
}
/* 기사 타이틀 */
.art_tit {
    font-size: 30px;
    font-family: 'Gowun Batang', serif;
    margin-bottom: 10px;
}
/* 기사 이미지 박스*/
.art_fig {
    margin-bottom: 40px;
}
.art_fig img {
    width: 100%;
}
/* 기사 이미지 설명 */
.art_fig figcaption {
    font-size: 15px;
    text-align: center;
    color: #767676;
}
/* 기사 문단 */
.art_cont p {
    font-size: 17px;
    color: #303038;
    /* 자간 ls */
    letter-spacing: 1.1px;
    /* 단어간격 ws */
    word-spacing: 0.6px;
    /* 양쪽정렬 */
    text-align: justify;
    /* 줄간격 lh */
    line-height: 1.5;
    /* 
    글자 라인간 간격조정
    숫자만 쓰면 글자 높이값에 대한 배수 조정
    단위를 쓰면 단위에 맞게 줄간격 조정
        줄간격의 응용
        버튼 등의 글자를 세로 중앙에 오게 할 때
        박스 높이 값 만큼 준다
     */
}
/* 강조 em요소 디자인 변경 */
.art_cont p em {
    /* 이텔릭 해제 */
    font-style: normal;
    /* 글자색 변경 */
    color: #b5aee9;
    /* 글자 두께 */
    font-weight: bold;
    /* 글자 그림자 */
    text-shadow: 2px 2px 2px blue;
}
/* mark 디자인 변경 */
.art_cont p mark {
    display: block;
    width: 60%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin: 15px auto;
    padding: 20px 50px;
    background-color: #b5aee9;
    text-align: center;
    font-size: 18px;
    font-family: 'Song Myung', serif;
    font-weight: bold;
    color: #f1f1f1;
    text-shadow: 2px 2px 2px #000;
    box-shadow: inset 2px 2px 5px 2px #00000079;
}
/* 유튜브 동영상 박스 */
.mvbx {
    height: 550px;
    /* 
        div와 같은 block요소는 width를 주지 않으면
        width:auto로 자동 설정 됨.
        이는 싸고 있는 박스 컨텐트 영역을 자동을 채운다.
        (컨텐트영역:내부영역의 패딩을 제외한 내부 영역)
    */
}
.mvbx iframe {
    border: none;
    width: 100%;
    height: 100%;
}
/* blockquote_box 인용블록영역 */
.blockquote_box {
    padding: 20px 0;
    margin: 20px 0;
    border-top: 2px dashed #000;
    border-bottom: 2px dashed #000;
    font-size: 15px;
}
/* blockquote_box img 위치설정 */
.blockquote_box img {
    float:right;
    border-radius:5px;
    margin-left: 10px;
}
.blockquote_box blockquote {
    padding: 10px 0;
}
/* article 제목 공통 art_box*/
.art_box h5{
    /* 배경색 */
    background-color: #ededed;
    /* 패딩 */
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #000000d1;
    font-size: 18px;
    color: #333;
    margin: 0px;
}
/* 기사원문 버튼 및 위로버튼 */
.art_link {
    text-align: right;
    margin-right: 20px;
}
.art_link a {
    display: inline-block;
    /* 인라인요소를 블록에 담아서 인라인 형태로 조정 */
    width: 70px;
    height: 70px;
    border: 1px solid #dadada;
    border-radius: 50%;
    /* 줄간격으로 세로 글자 중앙 */
    line-height: 70px;
    /* 가로정렬 */
    text-align: center;
    /* a태그 기본 요소 변경(색,밑줄) */
    color: #303038;
    text-decoration: none;/* tdn */
    background-color: #dadada;
    font-size: 18px;
}
.art_link a:hover {
    box-shadow: 0px 0px 3px 5px #00000087;
    background-color: #bbb;
    color: #fff;
}
/* 주해박스 */
.desc {
    border-top: 2px dashed;
    border-bottom: 2px dashed;
    margin: 20px 0;
    padding: 20px 0;
}
.desc div {
    padding: 20px 0;
    font-size: 15px;
    line-height: 1.5;
}
/* 오늘의 작품 & 느낌 */
.art_work {
    text-align: center;
    /* 그라데이션 넣기 : 이미지로! */
    background-image: linear-gradient(51deg, #ffd1c5 10%, #b5d8ff, #fff3bf 94%);
    /* 
    [ 선형 그라데이션 : linear-gradient ]
    
    background-image: linear-gradient(방향, 색1, 색2);
    background-image: linear-gradient(방향, 색1 몇%, 색2 몇%);
    background-image: linear-gradient(각도, 색1 몇%, 색2 몇%);
    - 옵션
        1.방향 : to top, to bottom, to left, to right
        2.각도 : 각도deg
        3.콤마로 나열된 색상에 %를 뒤에 쓰면 비율조정 가능
    */
    /* border: 10px dotted yellow;
    padding: 50px; */
    background-clip: border-box;
    /* 
        배경 옵션 추가
        background-clip : 배경이 적용되는 범위설정
        1. border-box -> 보더까지 적용(기본값)
        2. padding-box -> 패딩까지 적용
        3. content-box -> 내용영역만 적용(패딩, 보더 빠짐)
    */
    box-shadow: 0 10px 16px hsla(0, 0%, 0%, 0.199);
}
/* 작품 타이틀 */
.art_work h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
    font-size: 36px;
    text-shadow: 2px 2px 4px #000000;
    color: #ffffff;
    padding: 20px 0;
}
/* 작품이미지 */
.art_work img {
    border: 15px ridge goldenrod;
    /* ridge는 액자틀 속성 */
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.399);
}
/* 작품명 */
.art_work figcaption {
    font-family: 'Gowun Batang', serif;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}
/* 작품명 인용구 */
.art_work figcaption cite {
    font-style: normal;
    color: darkred;
}
/* 기사하단 뉴스3종 공통 class */
.news_box {
    border-top: 2px dashed #ccc;
    margin: 20px 0;
    padding: 10px 0;
    background-image: linear-gradient(to left, lightgrey, white);
    box-shadow: 10px 5px 10px #00000044;
}
/* 기사하단 타이틀 로고 조정 */
.news_box .prlogo {
    float: left;
    padding-right: 10px;
    margin-top: -5px;
}
/* 기사하단 뉴스3종 타이틀 위치조정 */
.news_box h3 {
    padding: 15px 0 18px 15px;
    width: 200px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    background-image: linear-gradient(270deg, lightyellow 20%, white);
    box-shadow: 5px 5px 5px #00000033;
    border-left: 1px solid #00000007;
    border-top: 1px solid #00000011;
}
/* 기사하단 뉴스3종 말줄임표 처리*/
.news_box li, .news_box dd {
    /* 1. 줄바꿈방지 wh*/
    white-space: nowrap;
    /* 2. 넘치는 컨텐츠 숨기기 oh */
    overflow: hidden;
    /* 3. 넘치는 글자 말줄임표 처리 tv */
    text-overflow: ellipsis;
    /* 
    참고) 여러줄 말줄임표

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 

    **주의 박스 높이값을 글자가 보일만큼 조절해야함
    **주의 white-space: nowrap이 없음
    
    */
}

/* 기사하단 a요소 */
.news_box a {
    /* 글자크기 fz*/
    font-size: 17px;
    /* 줄간격 lh*/
    line-height: 2.5;
    /* 글자색 c */
    color: #222;
    /* 밑줄 없앰 */
    text-decoration: none;
}
/* 기사하단 a요소 마우스오버 */
.news_box a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 7px #000;
}
/* 주요뉴스 ul */
.cnews ul li::before{
    content: '💜';
}
.cnews ul li::after{
    content: '💛';
}
/* 
    [ CSS 가상요소 : before, after ]
    - 모든 요소는 맨 앞과 맨 뒤에 가상요소를 사용할 수 있다
    - 맨 앞은 before, 맨 뒤는 after
    - 필수속성 : content
    - 글자는 '', 이미지는 url() 사용
*/
/* 
    [ CSS 가상클래스 : 자식요소 종류가 같아야함! ]
    - 요소: nth-child(n) -> n번째 자식요소
    - 요소: first-child -> 첫번째 자식요소
    - 요소: last-child -> 마지막째 자식요소

    [ 여러종류가 섞여 있을 경우 형제 선택하기 ]
    - 요소: first-of-type -> 같은 요소 중 첫번째
    - 요소: nth-of-type(n) -> 같은 요소 중 n번째
    - 요소: last-of-type -> 같은 요소 중 마지막째
*/
/* 주요 뉴스 li별 글자색 바꾸기 */
.cnews li:first-child a {
    color: red;
}
.cnews li:nth-child(2) a {
    color: blue;
}
.cnews li:last-child a {
    color: green;
}
/* 분야별 뉴스 타이틀 */
.section_news dt {
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    border: 2px dotted #ffffff;
    margin-top: 5px;
    box-shadow: inset 2px 2px 10px #ffffff;
}
.section_news dt:hover {
    box-shadow: inset 2px 2px 10px #ffffff, 0 5px 10px #00000044;
}
/* 분야별 뉴스 dt별 글자색 배경색 변화 */
.section_news dt:first-of-type {
    color: white;
    background-color: tomato;
}
.section_news dt:nth-of-type(2) {
    color: mintcream;
    background-color: MediumSeaGreen;
}
.section_news dt:last-of-type {
    color: lightgoldenrodyellow;
    background-color: olive;
}
/* dd앞에 가상요소로 블릿넣기 */
.section_news dd::before {
    content: '💛';
}
/* 사진뉴스 박스 */
/* 타이틀 */
.photo_news h3 {
    /* 배경그라데이션 없애기 */
    background-image: none;
    /* 중앙정렬 */
    text-align: center;
}
/* 사진뉴스 타이틀박스 */
.photo_news.news_box h3{
    padding: 0px;
    margin: 0px auto 15px auto;
    width: 250px;
    height: 55px;
}
/* 사진뉴스 타이틀 로고 */
.photo_news .prlogo img {
    padding: 20px 0px 20px 20px;
}
/* 가상요소로 사진이 아이콘 넣기 */
.photo_news span {
    vertical-align: -16px;
}
.photo_news span::after {
    content: '📸';
    vertical-align: 0px;
    font-size: 20px;
    margin-right: 5px;
}
/* 사진뉴스 테이블 */
.photo_news table{
    /* 테이블의 가로크기 지정 maw */
    max-width: 500px;
    /* 
    테이블은 기본적으로 내용만큼의 가로크기를 가지며
    부모박스의 크기가 작아질 경우 그 크기에 맞춰진다
    */
    /* 테이블 중앙 - 마영오 */
    margin: 0 auto;
    /* 테두리 */
    border: 1px solid #000;
    /* 테이블 기본 간격 삭제 : 기본값은 seperate */
    border-collapse: collapse;
}
/* 
    tr이나 td에 child선택자 사용가능 
    왜? table tr td 정해짐! 같은종류만 오기 때문
*/
/* 첫번째 td 선택 - 숫자부분 */
.photo_news td:first-child {
    /* 가로크기 w */
    width: 30px;
    /* 세로크기 h */
    height: 50px;
    /* 글자 가운데 정렬 */
    text-align: center;
    /* 배경색 bgc */
    background-color: #ccc;
}
/* 두번째 td - 내용부 */
.photo_news td:nth-child(2) {
    /* 배경색 bgc */
    background-color: #e4e4e4;
    /* 양쪽패딩 */
    padding: 0 10px;
    /* 줄간격 조절 */
}
/* 세번째 td */
.photo_news td:last-child {
    background-color: #e4e4e4;
    /* 오른쪽패딩 */
    padding-right: 7px;
}
/* 사진뉴스 이미지 */
.photo_news img {
    height: 70px;
    width: 100px;
    /* 인라인요소가 세로정렬 */
    vertical-align: middle;
}
.photo_news td div {
    /* 테이블 안쪽 말줄임표시(2줄처리) */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* 줄간격변경 */
    line-height: 1.7;
}

/* 데이터가 있는 요소에 디자인을 준다
    앞에 tr이 있는 tr만 하위 td에 디자인 */
.photo_news tr+tr td {
    /* 사이구분선 보더탑 bdt */
    border-top: 2px solid #ccc;
}