@charset "uft-8";
/* 온고롱 메인페이지 - main_copy.css */
/* CSS 불러오기 영역 */
/* 리셋, 공통, 코어 외부 CSS합치기(merging) */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/* 2-1. 이벤트배너 */
.main-banner{
    display: flex;
    justify-content: center;
    height: 700px;
}
/* 2-1-2. 배너박스 */
.main-banner .partbox{
    display: flex;
}
/* 이벤트 배너 이미지박스 */
.banner-img{
    max-width: 660px;
    max-height: 660px;
    /* 배너박스 상하 중앙정렬 */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 이벤트 배너 설명박스 */
.banner-desc{
    min-width: 400px;
    height: 300px;
    /* 설명박스 상하 중앙정렬 */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* 배너 설명박스 더보기 버튼 */
.banner-desc>button{
    position: absolute;
    /* 부모는 section */
    top: 120%;
    left: 50%;
    /* 중앙정렬 */
    transform: translateX(-50%) scale(1.2);
}
/* 2-2. 메인테마 */
.main-thema{
    display: flex;
    height: 400px;
}
.main-thema .partbox{
    flex-basis: 100%;
}
/* 2-3. 컨셉이미지 */
.main-scroll-banner{
    display: flex;
    height: 600px;
}
.main-scroll-banner .partbox{
    flex-basis: 100%;
}
/* 2-4. 인기상품 */
.main-hot-item{
    display: flex;
    flex-direction: column;
    min-height: 500px;
}
/* 2-4-1. 인기상품 타이틀 */
.main-hot-item>.partbox:first-of-type{
    height: 50px;
}
/* 인기상품 타이틀 테두리 */
.main-hot-item h1.tit{
    display: block;
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    border-radius: 50%;
    /* 글자세팅 */
    font-size: var(--fz-top);
    text-align: center;
    line-height: 40px;
    letter-spacing: 2px;
    /* 중앙정렬 */
    transform: translateY(-50%);
    padding: 0 10px;
    background-color: #fff;
}
/* 인기상품 타이틀 이미지 */
.main-hot-item h1.tit::before{
    content: '';
    display: block;
    position: absolute;
    left: 0%;
    width: 40px;
    height: 40px;
    transform: translateX(-100%);
    background-image: url(../images/ho_logo.jpg);
}
/* 2-4-2. 인기상품 리스트 */
.main-hot-item .hot-item-list{
    display: flex;
    height: 400px;
}
.main-hot-item .hot-item-list .partbox{
    flex-basis: 25%;
}
.img-box{
    width: 250px;
    height: 250px;
    margin: 10px auto;
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 2-4-3. 인기상품 더보기 */
.main-hot-item>.partbox:last-of-type{
    position: relative;
    height: 50px;
}
.main-hot-item>.partbox:last-of-type button{
    top: 50%;
    transform: translate(-50%,-50%) scale(1.2);
}
/* 2-5. 추천검색 */
.main-key-search{
    display: flex;
    flex-direction: column;
    height: 500px;
}
.main-key-search .partbox:first-of-type{
    flex-basis: 50%;
}
.main-key-search .partbox:last-of-type{
    /* display: none; */
    flex-basis: 50%;
}
/* 2-6. 주문진행 */
.main-order-process {
    display: flex;
    height: 150px;
}
.main-order-process .partbox{
    flex-basis: 100%;
}
/* 2-7. 리뷰 */
.main-review{
    display: flex;
    flex-direction: column;
    min-height: 500px;
}
/* 2-7-1. 리뷰 타이틀 */
.main-review>.partbox:first-of-type{
    height: 50px;
}
/* 2-7-2. 리뷰 리스트 */
.main-review .review-list{
    display: flex;
    flex-direction: auto;
    height: 400px;
}
.main-review .review-list .partbox{
    flex-basis: 25%;
}
/* 2-7-3. 리뷰 더보기 */
.main-review>.partbox:last-of-type{
    height: 50px;
}
