@charset "uft-8";
/* 온고롱 서브B오시는길 - sub_bmap.css */
/* CSS 불러오기 영역 */
/* 리셋, 공통, 코어 외부 CSS합치기(merging) */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/* 2. 메인영역 */
/* 2-1.타이틀 */
.main .top-title{
    height: 80px;
    border-bottom: 1px solid #000;
    line-height: 120px;
}
.top-title h1{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    font-size: var(--fz-biger);
}
/* 2-2.맵링크 */
/* 맵링크 박스 */
.main .map{
    width: 1400px;
    height: 500px;
    margin: 0 auto;
}
/* 2-3.정보 */
/* 2-3. 정보그룹 */
.main .info-group{
    display: flex;
    height: 350px;
    width: 1400px;
    margin: 0 auto;
}
/* 정보그룹 타이틀공통 */
.main div .sub-title{
    padding: 0 40px;
    font-size: var(--fz-big);
    height: 20%;
    line-height: 80px;
}
/* 2-3-1. 오시는법 */
.main div .contact{
    flex-basis: 65%;
}
/* 2-3-1-1. 오시는법 타이틀 */

/* 2-3-1-2. 오시는법 */
.contact-info{
    font-size: var(--fz-big);
    height: 80%;
}
.contact-info ul{
    padding-left:40px;
    display: flex;
}
/* 오시는법 설명박스 */
.contact-way{
    position: relative;
    width: 120px;
    height: 35px;
    background: #fff;
    text-align: center;
    line-height: 35px;
}
.last{
    position: relative;
    width: 0px;
    height: 35px;
    background: inherit;
    text-align: center;
    line-height: 35px;
}
.contact-way:hover{
    background: #eee;
    z-index: 1;
}
.contact-way::after{
    content: '';
    position: absolute;
    top: 35px;
    left: 40px;
    width: 700px;
    height: 220px;
    background: #eee;
    padding: 30px;
    box-sizing: border-box;
}
.subway::after{
    content: '7호선 먹골역 2번출구 일룸건물 뒤 골목 안쪽';
    left: 0px;
    text-align: left;
}
.bus::after{
    content: '146,105,202,1224,1227 먹골역, 묵동자이아파트방면 하차 200m 도보 이동 일룸건물 뒤 골목 안쪽';
    left: -120px;
    text-align: left;
}
.car::after{
    content: '서울특별시 중랑구 동일로 160길 8 1층 온고롱';
    left: -240px;
    text-align: left;
}
.last::after{
    content: '';
    left: -360px;
    text-align: left;
}
/* 2-3-2. 이용안내 */
.main div .use{
    flex-basis: 35%;
}
/* 2-3-1-1. 이용안내 타이틀 */

/* 2-3-1-2. 이용안내 */
main div .use-info{
    font-size: min(14px,1.6vw);
    height: 80%;
}