@charset "utf-8";
/* 웹 폰트 CDN(Content Delevery Network) */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
/* 아카이브 메인 CSS - main.css */

/* 초기화 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p,
figure,
figcaption,
button,
mark {
  margin: 0;
  padding: 0;
}
/* a요소 리셋 */
a {
  color: #222;
  text-decoration: none;
}
/* ul,ol 순번,불릿 */
ul,
ol,
mark {
  list-style: none;
}
/* button요소 리셋 */
button {
  border: none;
}
img {
  /* 이미지 링크시 서버에서 볼때 파란색 자동보더 없애기 */
  border: none;
  /* 박스 이미지 하단공백 제거 */
  vertical-align: bottom;
}
/* em, i요소 글자 이탤릭 제거 */
em,
i {
  font-style: normal;
}
/* input focus제거 */
input {
  outline: none;
}
/* 테이블요소 간격 */
table {
  border-collapse: collapse;
}
/* 글자 드래그 금지 */
html > * {
  user-select: none;
}

.in-box {
  max-width: 1024px;
  margin: 0 auto;
}
body * {
  /* 전체 글자체 */
  font-family: "Pretendard", serif;
}
/* 상단부 */
header {
  /* 글씨 크기 */
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  padding: 20px;
  background: rgb(74, 24, 121) url("../imgs/top_img.jpeg") no-repeat top center/100% 200%;
}
/* 상단 이미지 */
.header {
  height: 180px;
}
header ul {
  display: flex;
  justify-content: space-around;
  gap: min(1vw, 20px);
  align-items: flex-end;
  height: 100%;
}
/* 메뉴들 */
header li:nth-child(2) {
  margin-left: auto;
}
header a {
  color: #fff;
}

/* 모바일용 버튼 */
header li:last-child {
  display: none;
}
.moblie-btn {
  position: relative;
  display: flex;
  flex-direction: column;
}
.moblie-btn > div {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: 0.5s ease-in-out;
}
.moblie-btn div:nth-child(1) {
  transform: translateY(-7px);
}
.moblie-btn div:nth-child(3) {
  transform: translateY(7px);
}
/* 버튼 클릭 시 */
.moblie-btn.on div:nth-child(2) {
  transform: translateX(10px);
  width: 0;
}
.moblie-btn.on div:nth-child(1) {
  transform: rotate(45deg);
}
.moblie-btn.on div:nth-child(3) {
  transform: rotate(-45deg);
}

/* 메인영역 */
.main {
  padding: max(20px, 2vw);
}
main li a {
  /* 글자 */
  font-weight: 600;
}
/* 한줄소개 */
.title h1 {
  display: block;
  font-weight: 600;
  font-size: 2rem;
  white-space: nowrap;
  color: #222;
  margin-bottom: 20px;
}
/* 서브그룹 정보 */
.info-me{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
/* 프로필 이미지 */
.img-box {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgb(153, 80, 153);
  margin-left: 20px;
}
/* 서브그룹 정보 공통*/
.group-info {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 45%;
  height: 100%;
  padding: 2%;
}
/* 서브그룹 개별 */
.about{
  flex-basis: 80%;
}
/* 서브그룹 타이틀 */
.group-title h2 {
  font-weight: 600;
  font-size: 1.6rem;
  white-space: nowrap;
  color: #222;
}
.group-info ul {
  padding: 0 10px;
  position: relative;
}
.group-info ul:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  width: 2px;
  height: 80%;
  background-color: #ccc;
}
