*::before,
*::after {
    box-sizing: border-box;
}
/* 
베이지 / 코랄 / 옐로우 / 살구
8E7C68 / ED7458 / FFDC9F / DDC9BC
자두 / 블베 / 퍼플 / 화이트
 934A5F / 57648C / C2B4D6 / E5E5E5

$pink: #f26060
$green: #0EB29A
$lightblue: #9ab7c2
$darkblue: #3e454d
$orange: #ff8071
$darkorange: #b6483d
$primary-color: $pink
$font: 'Raleway', sans-serif
 */
.portfolio {
    background: #f26060;
    color: #8b9095;
    font-family: "Roboto";
    font-weight: 800;
    font-size: 3.2rem;
    letter-spacing: 0.02em;
}
.portfolio a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.portfolio span {
    cursor: pointer;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
}

.portfolio span.top {
    background-image: linear-gradient(180deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 100% 0%;
}
.portfolio span.top:hover {
    background-size: 100% 200%;
}
.portfolio span.right {
    background-image: linear-gradient(270deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 0% 100%;
}
.portfolio span.right:hover {
    background-size: 100% 200%;
}

.portfolio span.bottom {
    background-image: linear-gradient(0deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 100%;
    background-size: 100% 0%;
}
.portfolio span.bottom:hover {
    background-size: 100% 200%;
}

.portfolio span.left {
    background-image: linear-gradient(90deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-size: 0% 100%;
}
.portfolio span.left:hover {
    background-size: 200% 100%;
}

.portfolio span.angle {
    background-image: linear-gradient(135deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-size: 0% 100%;
}
.portfolio span.angle:hover {
    background-size: 220% 100%;
}

.portfolio span.radial {
    background-image: radial-gradient(circle farthest-corner at center center, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 50% 50%;
    background-size: 0% 0%;
}
/* Depends by text size */
.portfolio li:hover span.radial {
    background-size: 200% 380%;
}
/* pofol */
.pofol-box {
    position: absolute;
    top: 0.7%;
    left: 1.6%;
    width: 97%;
    aspect-ratio: 3/2;
    /* background-image: url(); */
}
.pofol-box ul {
    height: 100%;
    overflow: hidden;
}
.pj-desc .pofol-box li {
    padding: 0 3rem;
    font-size: 1.4rem;
    font-family: "Pretendard";
    font-weight: 300;
    color: #fff;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}
.pj-desc .pofol-box li em {
    position: relative;
    top: 120%;
    opacity: 0;
}
.pj-desc .pofol-box li img {
    opacity: 0;
}
.pofol-box li i {
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 1px solid #ffffff;
    padding: 3px 10px;
    margin-right: 10px;
    top: 120%;
    opacity: 0;
}
/* 타이틀 */
.pofol-box li:nth-child(1) {
    font-size: 2.5rem;
    font-weight: 600;
    display: none;
}
/* 포폴 요약 */
.pofol-box li:nth-child(2) {
    font-size: 400;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* 포폴 이미지+링크 */
.pofol-box li:last-child {
    position: relative;
    transition: opacity 0.5 ease-in;
    display: flex;
    align-items: center;
}
.pofol-box li:last-child i {
    display: inline-block;
    min-width: 80px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #ffffff;
    padding: 3px 10px;
}
.pofol-box li:last-child i a {
    font-size: 0.9rem;
    color: #fff;
}

.pj-desc.on .pofol-box li em {
    top: 0;
    opacity: 1;
    transition: 0.5s ease-out 2s;
}
.pj-desc.on .pofol-box li i {
    top: 0;
    opacity: 1;
    transition: 0.5s ease-out 2s;
}
.pj-desc.on .pofol-box li img {
    opacity: 1;
    transition: 0.5s ease-out 2s;
}
/* 포폴 사이트 이미지 */
.pofol-box li img {
    width: 95%;
    aspect-ratio: 1.9/1;
    margin: 0 auto;
    object-fit: fill;
}
@media (max-width: 400px) {
    .portfolio {
        font-size: 3rem;
        padding: 1rem 0;
        min-height: auto;
    }
    /* 포폴 타이틀 */
    /* 타이틀 상하 나누기 */
    span>span {
        display: block;
    }
    .pofol-box {
        aspect-ratio: 20/23;
    }
    .pofol-box li img {
        display: none;
    }
    .pofol-box li:last-child {
        margin-top: 4rem;
    }
}
