/* 레오폴드 메뉴 css - menu.css */

/* 2. 메인영역 */
/* gnb메뉴 */
.gnb-menu-area {
  width: 80%;
  margin: 0 auto;
  outline: 1px solid #eee;
  box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.15);
  font-family: "KOFIHDrLEEJWTTF-B";
  font-size: 3rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}
/* gnb 메뉴 속박스 ul */
.gnb-menu-box{
    box-sizing: border-box;
    padding: 4rem;
}
.gnb-menu-box span{
    position: relative;
    color: #ccc;
}
.gnb-menu-box b{
    position: absolute;
    width: 0%;
    overflow: hidden;
    left: 0;
    color: #111111;
    transition: width .5s ease-in;
}
.gnb-menu-box li:hover b{
    width: 100%;
}