@charset "utf-8";
/* 어벤저스 CSS - avengers.css */

/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Single+Day&display=swap");

/* 
    font-family: 'Monoton', cursive;
    font-family: 'Single Day', cursive;
*/
/* 파일합치기 */
@import url(./reset.css);

/* 전체 배경넣기 - 가상요소로 배경고정을 대신함
    ios에서 background fixed지원안함
*/
body::before{
    content: '';
    position: fixed; /* 블록처럼 됨 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* min-height: 100vh; 있어도 없어도 같음. 컨텐츠가 많아져서 */
    background: url(../ab_img/space.jpg) no-repeat center/cover;
}
html{
    /* rem단위를 위한 root글자설정! */
    font-size: 10px;
}
body{
    color: #fff;
}
/* 공사중표시 */
body *{
    outline: 2px dashed yellow;
}
/* 공통클래스 */
/* 페이지 공통 */
.page{
    position: relative;
    /* 부모자격 */
    height: 100vh;
}
.tit{
    text-align: center;
    font-size: 4rem;
}
/************* 개별페이지 디자인 *************/
.avengers-box{
    position: absolute;
    /* 부모는? .page */
    /* 부모박스 정중앙 세팅 */
    top: calc(50% - 400px/2);
    left: calc(50% - 300px/2);
    width: 300px;
    height: 400px;
    /* 원형 */
    border-radius: 50%;
    /* 밖그림자/안그림자 */
    box-shadow: 0 0 50px 10px cyan,
    inset 0 0 30px lightgreen;
    /* 배경이미지 */
    background: url(../ab_img/ab0.jpg) no-repeat center/cover;
}

/* 캐릭터박스 공통 */
.hero{
    position: absolute;
    /* 부모는? .avengers-box */
    /* 부모박스 정중앙 세팅 */
    top: calc(50% - 150px/2);
    left: calc(50% - 150px/2);
    width: 150px;
    height: 150px;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* 
        [ object-fit 속성 ]
        -> 이미지나 동영상을 박스에 맞출때
        옵션을 설정해 주는 속성
        1. fill : 설정값에 강제적용(기본값)
        2. contain : 박스에 모두 보임
        3. cover : 박스를 비율에 맞게 채움
            -> 빈틈없이 채우며 배경cover와
            유사한 효과를 준다! 
    */
}