@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/
/* 초기글자 */
html {
    font-size: 10px;
    /* 상대단위 rem 계산 편의를 위해 변경! */

    /* 최상위 요소인 html에 부드러운 스크롤 적용 */
    scroll-behavior: smooth;
}
/* 초기화 */
html,body,h1,h2,h3,ul,ol {
    margin: 0;
    padding: 0;
}

body {
    /* 전체배경 */
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공사중표시 */
/* body *{
    outline: 2px dashed yellow;
} */

/* 공통클래스 */

/* 메탈배경 클래스 */
.metal1 {
    background: url(../images/metal02.jpg) no-repeat center/cover;
}
.metal2 {
    background: url(../images/metal01.jpg) no-repeat center/cover;
}

/*********************** 1. 상단영역 ***********************/
/* 1-1. 로고 */
.logo {
    /* 포지션 fixed */
    position: fixed;
    /* 화면 중앙이동 */
    top: calc(50% - 20vw/2);
    left: calc(50% - 20vw/2);
    width: 20vw;
    height: 20vw;
    background: pink url(../images/robot_03.png) no-repeat center/67%;
    border-radius: 50%;
    border: 2px solid #ccc;

    /* 텍스트 */
    text-align: center;
    /* line-height: 200px; */ /* 아래에서 다시쓰면 먹힘 */
    color: aquamarine;
    font: 4vw/20vw 'Orbitron';
    text-shadow: 2px 2px 5px #000;

    /* 박스그림자 */
    box-shadow:
        inset 0 0 20px 5px #000,
        0 0 20px 5px aquamarine;
    /* 박스그림자에만 spread설정이 있음
    x y blur spread color */
    
    /* 트랜스폼 크기조정 */
    transform: scale(2);
    z-index: 99;
}

/* 1-2. 링크타이틀 */
/* 1-3. 탑이동버튼 */
.top-btn{
    position: fixed;
    bottom: 50px;
    right: 50px;

    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 5px outset #fff;
    background-color: #ccc;
    /* 위치 높이기 */
    z-index: 10;
}
/* 버튼 a요소 */
.top-btn a{
    display: block;
    /* 디자인 확장 */
    width: 100%;
    height: 100%;

    text-decoration: none;
    /* 글자셋팅 */
    color: white;
    font: 30px/90px 'Black Ops One';
    /* 줄간격은 높이값 100px - 보더 10px */
    text-shadow: 2px 2px 4px #000;
}
/* 버튼 마우스 오버시 */
.top-btn:hover{
    background-color: #ff0;
    border-style: inset;
}
/* 버튼 오버시 글자색 */
.top-btn:hover a{
    color: #f00;
}
/*********************** 2. 메인영역 ***********************/
.main-area {
    /* 자식요소인 .box-robot이 fixed포지션이 됨에 따라
    상단부분이 없어졌으므로 패딩으로 로봇상단영역 채우기 */
    padding-top: 860px;
    /* overflow: hidden; */
    /* 
    첫번째 자식요소 블록박스에 마진탑을 준 경우 그 마진값은 
    부모요소 바깥쪽으로 나간다!(기본성질)
    마진탑을 포함하려면 부모요소에 overflow:hidden을 설정해야함
    +하단 마진도 부모 요소 밖으로 나감
    */

}
/* 2-1. 로봇박스 */
.box-robot {
    position: fixed;
    /* top값을 안주면 젠틀픽스드이므로 패딩static요소를 존중하므로
    위치값을 줘서 화면을 기준한다 */
    top: 0;

    padding: 220px 0 550px; /* 위 양쪽 아래 */
    /* margin-top: 50px; */

    width: 100%;
    /* 처음에 트랜스폼 변경설정 */
    transform: translate(25%,-15%) scale(0.2); /* 크기를 먼저 넣으면 엄청 많이 움직여야함 */
}
/* 2-1-1. 머리 */
.head {
    /* 하위요소absolute 자식들의 부모되기 */
    position: relative;
    /* 머리크기 */
    width: 190px;
    height: 230px;
    /* 메탈배경 : 공통클래스로 적용 */
    /* background: url(../images/metal01.jpg) no-repeat center/cover; */
    /* 무대중앙! */
    margin: 0 auto;
    /* 얼굴모양 */
    border-radius: 100px 100px 150px 150px;
    /* .body보다 위 */
    z-index: 1;
    box-shadow: 0 0 7px 7px cyan;
}
/* 가상요소로 머리에 가발 씌우기 */
.head::after {
    content: '';
    display: block;
    /* 마치 넣은 것 같다 div */
    position: absolute;
    /* 위치 */
    top: -99px;
    left: -110px;
    /* 크기 */
    width: 400px;
    height: 277px;
    /* 배경 */
    background: url(../images/hair4.png) no-repeat 0/100% 100%;
}
/* 오버시 가상요소 변경 */
.head:hover::after {
    /* 위치 */
    top: -90px;
    left: -112px;
    /* 크기 */
    width: 415px;
    height: 320px;
    /* 배경 */
    background: url(../images/hair5.png) no-repeat 0/100% 100%;
}
/* 머리 하위요소 공통 */
.head>div,.body>div{
    position: absolute;
    /* 모든 직계 하위요소는 앱솔루트! */
}
/* 눈 공통 */
.eye {
    /* 눈 공통위치 */
    top: 55px;
    width: 50px;
    height: 50px;
    /* 눈 안경 */
    border: 4px double #555; /* 최소 4px을 줘야 이중선이 나옴 */
    border-radius: 50%;
    /* 눈 배경 공통 */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff; /* 이미지 밖에 이중선 사이 깔끔하게 */
}
/* 왼눈 */
.eyeleft {
    /* 왼눈 위치 */
    left: 22px;
    background-image: url(../images/e1.jpg);
}
/* 오른눈 */
.eyeright {
    /* 오른눈 위치 */
    right: 22px;
    background-image: url(../images/e2.jpg);
}
/* 코 */
.nose {
    /* 위치 */
    top: 75px;
    left: calc(50% - 59px/2);
    /* 크기 */
    width: 59px;
    height: 90px;
    /* 배경 */
    background: url(../images/nose.png) no-repeat center left/110% 100%;
    /* 모양 */
    border-radius: 40px 40px 25px 25px;
}
/* 입 */
.mouth {
    /* 위치 */
    bottom: 20px;
    left: calc(50% - 91px/2);
    /* 크기 */
    width: 91px;
    height: 45px;
    /* 배경 */
    background: url(../images/mouth.png) no-repeat center/100% 90%;
}
/* 귀공통 */
.ear {
    /* 위치 */
    top: 90px;
    /* 크기 */
    width: 50px;
    height: 70px;
    /* 배경 */
    /* background: url(../images/metal02.jpg) no-repeat center/100%; */
    box-shadow: 0 0 7px 7px cyan;
}
/* 왼귀 */
.earleft {
    /* 위치 */
    left: -50px;
    /* 귀모양 */
    border-radius: 30px 0 0 50px;
}
/* 오른귀 */
.earright {
    /* 위치 */
    right: -50px;
    /* 귀모양 */
    border-radius: 0 30px 50px 0;
}
/* 얼굴점 */
.facedot {
    width: 10px;
    height: 10px;
}

/* 2-1-2. 몸통 */
.body {
    /* 부모자격 */
    position: relative;
    /* 크기 */
    width: 220px;
    height: 360px;
    /* 중앙 */
    margin: 0 auto;
    margin-top: 50px;
    background-size: 80%;
    border-radius: 20px;
}
/* 몸통 위 */
.body::before {
    content: '';
    position: absolute;
    top: -23px;
    left: -15px;
    width: 250px;
    height: 200px;
    background-image: linear-gradient(45deg, #eee, lightyellow, darkcyan);
    border-radius: 30px;
    /* 클립패스 : 부분만 보이기 */
    clip-path: polygon(-13% 0%, 113% 0%, 86% 100%, 14% 100%);
}
/* 몸통 아래 */
.body::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: -15px;
    width: 250px;
    height: 130px;
    background-image: linear-gradient(to bottom, #eee, hotpink);
    border-radius: 30px;
    clip-path: polygon(6% 25%,15% 3%,87% 0%,95% 25%,90% 74%,58% 95%,41% 95%,10% 75%);
}
/* 목 */
.neck {
    /* 위치 */
    top: -55px;
    left: calc(50% - 60px/2);
    /* 중앙보내기 */
    /*
    중앙 보내기 
    부모박스의 50%보내고 자신의 절반 빼기
    가로크기 left는 width
     */
    /* 크기 */
    width: 60px;
    height: 45px;
}
/* 팔공통 */
.arm {
    top: 20px;
    width: 60px;
    height: 200px;
    border-radius: 20px;
/* 애니를 위한 트랜스폼 기준 축 변경 */
    transform-origin: left top;
    box-shadow: 0 0 7px 7px cyan;
}
/* 팔아래공통 */
.arm span {
    display: block;
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 0 0 7px 7px cyan;
}
/* 팔 관절 */
.arm::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -22%;
    left: -10%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #000;
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
/* 가상요소 관절 안쪽 나사 */
.arm::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -17%;
    left: 7%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-image: linear-gradient(to right, #ccc, #383838);
    z-index: 1;
}

/* 왼팔 */
.armleft {
    left: -90px;
}
/* 오른팔 */
.armright {
    right: -90px;
}
/* 왼팔아래 */
.armleft span {
    left: 10%;
}
/* 왼손 */
.armleft span::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: calc(50% - 50px/2 - 10px);
    width: 80px;
    height: 120px;
    background: url(../images/hand_left.png) no-repeat 0/100%;
}
/* 오른팔아래 */
.armleft span {
    left: 10%;
}
/* 오른손 */
.armright span::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    right: calc(50% - 50px/2 - 10px);
    width: 80px;
    height: 120px;
    background: url(../images/hand_right.png) no-repeat 0/100%;
}
/* *****동작요소***** */
/* 오른팔 */
.armright:hover{
    transform: rotate(-90deg);
}


/* 다리공통 */
.leg {
    top: 100%;
    width: 80px;
    height: 240px;
    border-radius: 20px;
/* 애니를 위한 트랜스폼 기준 축 변경 */
    transform-origin: top;
    box-shadow: 0 0 7px 7px cyan;
}
/* 다리아래공통 */
.leg span {
    display: block;
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 0 0 7px 7px cyan;
}
/* 다리 관절 */
.leg::after{
    content: '';
    display: block;
    position: absolute;
    bottom: calc(-80px/2);
    left: 0%;
    width: 100%;
    height: 80px;
    border-radius: 10%;
    border: 1px solid #000;
    background-image: linear-gradient(to right, #ccc, #383838);
}
/* 다리관절 안쪽 나사 */
.leg::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: 10%;
    width: 80%;
    height: 60px;
    border-radius: 10%;
    border: 1px solid #000;
    background: url(../images/metal01.jpg) no-repeat center/cover;
    z-index: 1;
}
/* 다리아래 가상요소로 부츠만들기 */
.leg span::before {
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: -10%;
    width: 120%;
    height: 156px;
    background-image: linear-gradient(to right, #ccc, #393939);
    border-radius: 0 0 30% 30%;
    border-top: 4px solid #000;


}
/* 다리아래 가상요소로 부츠하단 */
.leg span::after {
    content: '';
    display: block;
    position: absolute;
    top: 114%;
    left: -22%;
    width: 140%;
    height: 30%;
    background-image: linear-gradient(to right, #ccc, #393939);
    border-radius: 50% 50% 0 0;
    border: 2px solid #000;
    border-bottom: 10px double #000;
    box-sizing: content-box;
}

/* 왼다리 */
.legleft {
    left: 5%;
}
/* 오른다리 */
.legright {
    right: 5%;
}
/* 어깨 공통 */
.shdr {
    top: -10px;
    width: 90px;
    height: 100px;
    box-shadow: 0 0 7px 7px cyan;
}
/* 왼어깨 */
.shdrleft {
    left: -105px;
    border-radius: 50% 0 0 50%;
     /* 
        [둥근모서리 값설정]
        1. 1개 - 네방향
        2. 2개 - 왼위 오른아래 / 오른위 왼아래
        3. 3개 - 왼위 / 오른위 왼아래 / 오른아래
        4. 4개 - 왼위 / 오른위 / 오른아래 / 왼아래
    */
}
/* 오른어깨 */
.shdrright {
    right: -105px;
    border-radius: 0 50% 50% 0;
}
/* TV */
.tv {
    top: 10px;
    left: 50%;
    /* left방향 중앙이동 */
    transform: translateX(-50%);
    z-index: 100;
    width: 191px;
    height: 130px;

    /* 배경이미지 */
    background: url(../images/tv.jpg) no-repeat -5px -7px/105% 117%;
    border-radius: 5px;
    box-shadow: inset 1px 0 2px 5px #0000008d;

    /* 트랜지션 : 속시이지 */
    transition: 1.2s ease-in-out;
}
/* TV 커지는 클래스 */
.tv.on {
    transform: translateX(-50%) scale(4);
}
/* 스크린 */
.screen {
    position: absolute;
    /* 부모는? : TV*/
    top: 9px;
    left: 5px;
    width: 144px;
    height: 109px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #eee, #333);
    box-shadow: inset 2px 0 5px 5px #000;
    /* 자식 앱솔루트 요소 */
    /* 넘치는 부분 숨기기 */
    overflow: hidden;
}
/* 아이프레임 */
#mv {
    position: absolute;
    /* 부모는? : 스크린 */
    top: -18px;
    left: -19px;
    width: 186px;
    height: 138px;
    /* 아이프레임 기본보더 없앰 */
    border: none;
}
/* 동영상 선택 버튼 */
.box-btn {
    position: absolute;
    bottom: 25px;
    right: 2px;
    width: 34px;
    height: 70px;
}
.box-btn button {
    width: 100%;
    text-align: center;
}
/* 2-1-1. 링크타이틀 : 말풍선 */
.link-title{
    /* 포지션 */
    position: absolute;
    top: 13px;
    right: -60px;
    font-size: 5vw;
    background-color: orangered;
    padding: 4vw 3vw;
    border-radius: 50%;
    border: 7px dashed orangered;
    color: #fff;
    text-decoration: none;
    /* 처음에 투명 */
    /* opacity: 0; */
    /* 처음에 안보임 */
    transform: scale(0);
    /* 트랜스폼 축변경 : 가로 세로 */
    transform-origin: left bottom;
}
.link-title::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -3.3vw;
    left: 0.9vw;
    transform: rotate(35deg);
    /* 삼각형만들기 필수
    - 양쪽방향 보더를 투명으로 한쪽방향 보더에 색 */
    width: 0;
    height: 0;
    border-left: 1.3vw solid transparent;
    border-right: 1.3vw solid transparent;
    border-top: 7vw solid orangered;
}
.link-title:hover{
    background-image: radial-gradient(green, darkorange);
    color: #fff;
}
/* [ 원형 그라데이션 ]

    - 기본형, 영역지정형은 박스모양을 따라감!

    1) 기본형: 중앙중심, 모양은 박스크기에 맞춤
    background-image: 
        radial-gradient(색1,색2,색3,...);
    - 시작색으로부터 중앙에서 시작됨

    2) 영역 지정형:
    background-image: 
        radial-gradient(색1 몇%,색2 몇%,색3 몇%,...);
    - 색 뒤에 한칸 띄고 %수치로 영역지정함

    3) 그라데이션 모양을 원형으로 사용할 경우:
    background-image: 
        radial-gradient(circle,색1,색2,색3,...);
    - circle 키워드를 첫번째에 사용함

    4) 영역옵션 지정형: 중심점 변경
    background-image: 
        radial-gradient(옵션 at 가로위치 세로위치,색1,색2,색3,...);
    - 옵션4가지 : closest-side / farthest-side
                closest-corner / farthest-corner
                ___________________________________
                - closest는 중심점으로 좀더 모아진것
                - farthest는 중심점에서 멀리 퍼진것
                - side와 corner는 경계선과 끝부분옵션임
    - 가로위치, 세로위치 (중심점) - 단위는 px / % */
/* 2-2. 로봇설명박스 */
.box-text{
    /* 로봇보다 위 - 포지션 있어야 위에 옴 */
    position: relative;
    /* 최대크기800px */
    max-width: 800px;
    /* 박스중앙 m05 */
    margin: 0 auto;
    /* 하단마진 200px */
    margin-bottom: 200px;
    /* 반투명 흰색배경 */
    background-color: #00000027;
    /* 글자색 흰색 */
    color: white;
    /* 글자 그림자 */
    text-shadow: 1px 1px 1px black;
    /* 패딩 : 15px 30px */
    padding: 15px 30px;
    /* 경계선 : 3px solid #fff */
    border: 3px solid #fff;
    /* 둥근모서리 : 20px */
    border-radius: 20px;
    /* 박스그림자 글로우 효과, 내부만 2개 줌*/
    box-shadow: 
    inset 0 0 20px blue,
    inset 0 0 50px 10px cyan;
    /* 박스그림자 : x y blur spread color */
}
/* 2-2-1. 제목 */
.box-text h2{
    /* 스티키 포지션 */
    position: sticky;
    /* top값 설정 시 위치고정 */
    top:15px;
    /* 글자 : 35px 'Chakra Petch */
    font: 3.5rem 'Chakra Petch';
    /* 글자색 lime */
    color: lime;
    /* 글자 중앙정렬 */
    text-align: center;
    /* 배경색 흰색 반투명 */
    background-color: #ffffff65;
    /* 둥근 모서리 20px */
    border-radius: 20px;
}
/* 2-2-2. 출처 */
.box-text small {
    /* 글자체 : 'Barlow' */
    font-family: 'Chakra Petch';
    /* 글자크기 15px -> rem */
    font-size: 1.5rem;
    /* 줄간격 : 3배 */
    letter-spacing: 3;
    /* 글자색 : 노란색 */
    color: yellow;
    /* 블록변경 */
    display: block;
    /* 글자중앙 */
    text-align: center;
}
/* 2-2-3. 내용단략 */
.desc {
    /* 글자크기 : 'Barlow' */
    font-family: 'Barlow';
    /* 글자크기 : 17px ->rem */
    font-size: 1.7rem;
    /* 줄간격 : 1.8배 */
    line-height: 1.8;
    /* 자간 : 1px */
    letter-spacing: 1px;
    /* 단어간격 : 2px */
    word-spacing: 2px;
    /* 
    [ 다단설정하기 ]
    - 다중 열속성
    -> column-count : 다중열개수
    -> column-rule : 다중열구분선
    -> column-gap : 다중열사이간격
    */
    /* 다중열 개수 */
    column-count: 3;
    /* 다중열 구분선 :  두께 종류 색상 */
    column-rule: 5px dotted lightgreen;
    /* 다중열 사이간격 */
    column-gap: 55px;
    /* 양쪽정렬 */
    text-align: justify;
    /* 양쪽정렬 시 단어깨기를 해줘야 구멍이 안남 */
    word-break: break-all;
    /* 들여쓰기 :ti*/
    text-indent: 20px;
}
/* 설명문자 첫글자 가상요소로 디자인 변경 */
.desc::first-letter{
    font-size: 3rem;
    font-weight: bold;
    color: orange;
}
/*********************** 3. 하단영역 ***********************/
/* 3-1. 회사정보 */
#bottom-area {
    /* 포지션 : 순서상 위에 오도록 */
    position: relative;
    /* 글자색 흰색 */
    color: white;
    /* 글자크기 30px 글자체 'Black Ops One' */
    font: 3rem 'Black Ops One';
    /* 글자 그림자 2px 2px 2px #000 */
    text-shadow: 2px 2px 2px rgba(0, 0, 0);
    /* 배경색 검정색 반투명 0.5 */
    background-color: rgba(0, 0, 0, 0.500);
    /* 글자 중앙정렬 */
    text-align: center;
    /* 패딩 10vmin > 가로 세로 중 작은것 기준 7% */
    padding: 7vmin;
}
/* 가상요소로 속박스 아이콘 모양 넣기 */
.bottom-area::before{
    content: '';
    /* 디자인도 적용, 한줄에 오도록 */
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: pink url(../images/robot_03.png) no-repeat 40% -2%/55px;
    /* 인라인 요소간 세로 정렬 */
    vertical-align: top;
}