@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
/* body * {
    outline: 1px dashed ghostwhite;
} */

/* 전체배경색 */
body{
    background-color: #000;
}
/* 전체 반투명 장치 */
body.on::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    z-index: 9999;
}
/**************** 1.상단영역 ****************/
/* 1-0. 맵버튼박스 */
.btn-map{
    position: absolute;
    /* 상단부에 붙이기 */
    top: 0;
    left: 0;
    width: 120px;
    height: 80px;
    /* outline: 2px dashed yellow; */
    /* 나간배경 숨기기 */
    overflow: hidden;
}
/* 맵버튼 가상요소로 무한이동 배경넣기 */
.btn-map::before{
    content: '';
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background: url(../images/street.jpg) repeat-x 0/50% 100%;
    /* 가로 50% 세로 100%(가로축반복) */
    /* 애니메이션 */
    animation: bg-ani 2s linear infinite;
    cursor: pointer;
}
/* 무한반복 배경애니 키프레임 */
@keyframes bg-ani {
    to{
        left: -100%;
    }
}
/* 3-1.걷는존 */
.spani1{
    position: relative;
    width: 36.8px;
    aspect-ratio: 100/176;
    margin: 0 auto;
    margin-top: 10px;

    background: url(../images/spAni03.png) no-repeat;
    background-size: auto 100%;

    /* 애니메이션: 이시이지반방마 */
    animation: spani1 .9s steps(8) infinite;
    /* outline: 5px solid red; */
}

/* 걷는존 키프레임 */
@keyframes spani1 {
    to{
       background-position-x: -294.4px;
    }
    /* 배경이미지 x축 이동일 경우
    줄였을때 이미지 전체 가로크기를
    마이너스 값으로 써주면된다! */
}


/* 구글맵 지도박스 */
.gmap{
    position: fixed;
    top: -50%;
    /* 처음에 top값으로 윗쪽에 숨김! */
    left: 50%;
    transform: translate(-50%, -50%);
    /* 정중앙이동 */

    width: 600px;
    height: 450px;
    background-color: #fff;
    border: 20px solid hotpink;
    border-radius: 10px;

    z-index: 99999;
    /* 트랜지션: 속시이지 */
    transition: top .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
/* 구글맵에 클래스"on"적용시 등장하기 */
.gmap.on{
    top: 50%;
}
/* 닫기버튼 */
.cbtn{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #000;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* 기본 포커스 아웃라인 제거 */
.cbtn:focus{
    outline: none;
}
.header{
    position: relative;
    /* .gnb 부모자격 */
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
    /* 상단 영역박스 가장 위 */
    z-index: 999;
}
/* 1-1. 로고 */
.tit{
    color: aqua;
    font-size: 40px;
    font-family: 'Jua', sans-serif;
    text-align: center;
    line-height: 80px;
    /* 글자글로우 */
    text-shadow: 0px 0px 3px aquamarine;
    /* 애니메이션 호출 */
    animation: tit-ani .7s ease-in infinite alternate;
}
/* 키프레임 */
/* 타이틀애니 키프레임 */
@keyframes tit-ani{
    to{
        text-shadow: 0px 0px 8px aquamarine;
    }
}
/* 1-2.네비게이션 */
.gnb{
    position: absolute;
    /* 부모는 .header */
    bottom: 12px;
    right: 10px;
}
.gnb ul{
    /* z-index용 */
    position: relative;
    z-index: 1;
    /* 플렉스 박스 */
    display: flex;
    /* 사이간격 */
    gap: 0px 20px;
    font-family: 'Jua';
}
/* gnb 상위메뉴 li */
.gnb ul>li{
    position: relative;
    /* .smenu 부모자격 */
}
/* 상위메뉴a */
.gnb ul>li>a{
    display: inline-block;
    /* 트랜스폼 적용하기위해 inline-block으로 변경 */
    font-size: 2rem;
    /* 하단과의 간격 : 젠틀한 .smenu 밀어주기
    li에 연결 된 상태 유지(a로 인해 li커짐)*/
    padding-bottom: 10px;
    /* 트랜지션 */
    transition: .3s;
}
/* 상위메뉴a 오버 시 */
.gnb ul>li:hover>a{
    color: aqua;
    /* 오버 시 커지게 */
    transform: scale(1.1);
    text-shadow: 0px 0px 3px aquamarine;
    /* 애니메이션 호출 */
    animation: tit-ani .7s ease-in infinite alternate;
}
/* gnb서브메뉴 */
.smenu{
    position: absolute;
    /* 부모는 .gnb ul>li */
    /* 가로방향 중앙정렬 */
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    padding: 3px;
    border-radius: 5px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    /* 필터를 이용한 그림자로 글로우 주기 */
    /* ->box-shadow를 적용하면 본 작스만 효과가 적용 됨,
    가상요소까지 고려하려면 fliter를 사용 */
    filter: drop-shadow(0 0 5px #fff);
    /* 처음에 숨기기 */
    display: none;
}
/* 상위메뉴li 오버 시 smenu보이기 */
.gnb ul>li:hover .smenu{
    display: block;
}
/* 서브메뉴 가상요소로 삼각형 만들기 */
.smenu::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    width: 20px;
    height: 15px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
/* 서브메뉴 ol */
.smenu ol{
    border: 1px solid #ccc;
    padding: 10px;
}
/* 서브메뉴 a */
.smenu a{
    font-size: 1.6rem;
    line-height: 1.7;
}
/* 서브메뉴 a 오버 시 */
.smenu li:hover a{
    color: orangered;
}
/* 서브메뉴 li오버 시 가상요소로 이모지 */
.smenu li:hover a::after{
    content: '🎬';
    float:right;
}
/* 서브메뉴 li별 이미지 변경하기  */
.gnb ul>li:nth-child(2) .smenu li:hover a::after{
    content: '🎫';
}
.gnb ul>li:nth-child(3) .smenu li:hover a::after{
    content: '🎪';
}
.gnb ul>li:nth-child(4) .smenu li:hover a::after{
    content: '🎃';
}
/* 개별 구분 보더넣기 클래스 */
.bd-top{
    border-top: 1px solid #ccc;
}
/* 영사기 박스 */
.cam{
    position: absolute;
    /* 부모는 .gnb */
    right: -56px;
    top: -10px;
}
.cam>img{
    position: relative;
    z-index: 1;
    width: 50px;
    transform: rotate(11deg);
    /* 트랜지션 : 빔 회수하고 돌기*/
    transition: transform .3s .2s;
}
/* .gnb오버 시 영사기 돌기 */
.gnb:hover .cam>img{
    transform: rotate(0deg);
    /* 바로 돌기 */
    transition-delay: 0s;
}
/* 빔박스 */
.beam{
    position: absolute;
    top: -8px;
    right: 3px;
    width: 0px;
    height: 75px;
    background: url(../images/bim.png) no-repeat right 194%/auto 110%;
    /* 트랜지션 : 먼저 빔 회수 */
    transition: width .2s linear;
}
/* .gnb오버 시 beam쏘기 */
.gnb:hover .beam{
    width: 200px;
    /* 트랜지션 : 영사기 도는 동안 .3s 기다리기 */
    transition-delay: .3s;
    /* 빔 떨림 애니 */
    animation: beam-ani .03s linear infinite alternate;
}
/* 빔떨림 애니 키프레임 */
@keyframes beam-ani {
    to{
        opacity: 0.5;
    }
}
/**************** 2.메인영역 ****************/
.main{
    /* 부모자격 */
    position: relative;
    aspect-ratio:1200/788;
    /* height: 788px;  */ /* 비율유지 박스는 높이 빼! */
    background: url(../images/bg.jpg) no-repeat center 0/100%;
}
/* 2-1. 스크린 */
.screen{
    position: absolute;
    /* top: 136px;
    left: 257px;
    width: 701px;
    height: 397px; */
    top: 17.2%;
    left: 21.4%;
    width: 58.5%;
    height: 50.5%;
    /* 비율박스 부모 기준 크기값, 위치값 %설정 */
    background-color: black;
}
/* 아이프레임 */
.screen iframe{
    width: 100%;
    height: 100%;
    border: none;
}
/* 2-2.포스터메뉴 */
.poster-menu{
    position: absolute;
    width: 59.4%;
    left: 50.7%;
    bottom: 5%;
    transform:translate(-50%);
}
/* 포스터 메뉴 ul */
.poster-menu ul{
    display: flex;
    gap: 0 10px;
    perspective: 50vh;
    /* perspective-origin: bottom; */
}
/* 포스터 메뉴 li */
.poster-menu>ul>li{
    /* 부모자격 */
    position: relative;
    /* 등분할 */
    flex: 1;
    /* 부모자격요소가 숨길 수 있음 */
    overflow: hidden;
    /* X축 회전 */
    transform: rotateX(45deg);
    /* 회전축 */
    transform-origin: bottom;
    /* 트랜지션 */
    transition: .3s;
}
/* 포스터 메뉴 img */
.poster-menu img{
    width: 100%;
}
/* 영화정보 */
.mv-info{
    position: absolute;
    width: 100%;
    height: 100%;
    /* 아래에 위치 */
    top: 100%;
    /* 부모는 싸고있는 li */
    text-align: center;
    background-color: rgb(0 0 0 / 49%);
    /* 글자세팅 */
    font-family: 'Cute Font', cursive;
    font-size: min(1.3vw, 14px);
    color: #fff;
    /* 줄바꿈 방지 */
    white-space: nowrap;
    /* 트랜지션 */
    transition: top .3s ease-in;
}
/* 영화정보박스 제목정보 글자 */
.mv-info li:first-child{
    font-size: min(1.6vw,17px);
    color: aqua
}
/* 상위 li에 오버 시 + 클래스 on 적용 시 영화 정보박스 보이기 */
.poster-menu>ul>li.on .mv-info,
.poster-menu>ul>li:hover .mv-info{
    top: 0;
}
/* 상위 li에 오버 시 + 클래스 on 적용 시 영화 일어나기 */
.poster-menu>ul>li:hover,
.poster-menu>ul>li.on{
    transform: rotateX(0deg);
    outline: 1px solid aqua;
    /* 일어나는 li가 항상 위! */
    z-index: 1;
}
/* 영화정보 ol */
.mv-info ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: min(1.3vw, 20px) 0;
    width: 100%;
    height: 100%;
}
/**************** 3.하단영역 ****************/
.footer{
    height: 100px;
    display: flex;
    gap: 0 20px;
    align-items: center;
    padding: 0 15px;
}
/* 3-1. 로고박스 */

/* 3-2. 회사주소 */
address{
    color:white;
    font-style: normal;
    font-family: 'cute font';
    font-size: 1.7rem;
}
/* 3-3.sns박스 */
.sns-box{
    margin-left: auto;
}
.sns-box ol{
    display: flex;
    gap: 0 15px;
}
.sns-box a{
    font-size: 4rem;
}
/* sns이미지 오버 시 색변화 */
.fa-square-facebook:hover{
    color: cornflowerblue;
    background-color: white;
}
.fa-square-twitter:hover{
    color: lightseagreen;
    background-color: white;
}
.fa-square-instagram:hover{
    color: lightcoral;
    background-color: white;
}
.fa-square-youtube:hover{
    color: orangered;
    background-color: white;
}