@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
body * {
    outline: 1px dashed ghostwhite;
}

/* 전체배경색 */
body{
    background-color: #000;
}
/* 로고 */
.tit{
    color: aqua;
    font-size: 40px;
    font-family: 'Jua', sans-serif;
    text-align: center;
    line-height: 80px;
    /* 글자글로우 */
    text-shadow: 0px 0px 3px aquamarine;
    /* 애니메이션 호출 */
    animation: tit-ani .7s ease-in infinite alternate;
}
/* 키프레임 */
/* 타이틀애니 키프레임 */
@keyframes tit-ani{
    to{
        text-shadow: 0px 0px 8px aquamarine;
    }
}
/**************** 1.상단영역 ****************/
.header{
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}
/**************** 2.메인영역 ****************/
.main{
    /* 부모자격 */
    position: relative;
    aspect-ratio:1200/788;
    /* height: 788px;  */ /* 비율유지 박스는 높이 빼! */
    background: url(../images/bg.jpg) no-repeat center 0/100%;
}
/* 2-1. 스크린 */
.screen{
    position: absolute;
    /* top: 136px;
    left: 257px;
    width: 701px;
    height: 397px; */
    top: 17.2%;
    left: 21.4%;
    width: 58.4%;
    height: 50.4%;
    /* 비율박스 부모 기준 크기값, 위치값 %설정 */
    background-color: black;
}
/* 아이프레임 */
.screen iframe{
    width: 100%;
    height: 100%;
    border: none;
}
/* 2-2.포스터메뉴 */
.poster-menu{
    position: absolute;
    width: 59.4%;
    left: 50.7%;
    bottom: 5%;
    transform:translate(-50%);
}
/* 포스터 메뉴 ul */
.poster-menu ul{
    display: flex;
    gap: 0 10px;
    perspective: 50vh;
    /* perspective-origin: bottom; */
}
/* 포스터 메뉴 li */
.poster-menu>ul>li{
    /* 부모자격 */
    position: relative;
    /* 등분할 */
    flex: 1;
    /* 부모자격요소가 숨길 수 있음 */
    overflow: hidden;
    /* X축 회전 */
    transform: rotateX(45deg);
    /* 회전축 */
    transform-origin: bottom;
    /* 트랜지션 */
    transition: .3s;
}
/* 포스터 메뉴 img */
.poster-menu img{
    width: 100%;
}
/* 영화정보 */
.mv-info{
    position: absolute;
    width: 100%;
    height: 100%;
    /* 아래에 위치 */
    top: 100%;
    /* 부모는 싸고있는 li */
    text-align: center;
    background-color: rgb(0 0 0 / 49%);
    /* 글자세팅 */
    font-family: 'Cute Font', cursive;
    font-size: min(1.3vw, 14px);
    color: #fff;
    /* 줄바꿈 방지 */
    white-space: nowrap;
    /* 트랜지션 */
    transition: top .3s ease-in;
}
/* 영화정보박스 제목정보 글자 */
.mv-info li:first-child{
    font-size: min(1.6vw,17px);
    color: aqua
}
/* 상위 li에 오버 시 + 클래스 on 적용 시 영화 정보박스 보이기 */
.poster-menu>ul>li.on .mv-info,
.poster-menu>ul>li:hover .mv-info{
    top: 0;
}
/* 상위 li에 오버 시 + 클래스 on 적용 시 영화 일어나기 */
.poster-menu>ul>li:hover,
.poster-menu>ul>li.on{
    transform: rotateX(0deg);
    outline: 1px solid aqua;
    /* 일어나는 li가 항상 위! */
    z-index: 1;
}
/* 영화정보 ol */
.mv-info ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: min(1.3vw, 20px) 0;
    width: 100%;
    height: 100%;
}
/**************** 3.하단영역 ****************/
.footer{
    height: 100px;
}
