@charset "utf-8";

/* 레오폴드 PJ : 메인 CSS - main.css */
/* 리셋, 공통, 코어 외부 CSS합치기(merging) */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 타이틀 h2 */
.top-title h2{
  height: 70%;
}
/* 타이틀 서브 */
.top-title small{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-family: KOFIHDrLEEJWTTF-L;
}

/************** 2. 메인영역  ****************/

/* 네비게이션 구역 */
.nav-area{
  position: relative;
  bottom: -10%;
}
li{
  width: 20%;
}
li:nth-child(1){
  width: 20%;
}
li:nth-child(2){
  width: 20%;
}
li:nth-child(3){
  width: 20%;
}
li:nth-child(4){
  width: 15%;
}
li:nth-child(5){
  width: 25%;
}
/* 타이틀 */
.nav-tit{
  font-size: 1.2rem;
  font-family: KOFIHDrLEEJWTTF-L;
}
/* 컨텐츠 */
.nav-cont{
  height: 5px;
  border-radius: 10px;
  border: 1px solid coral;
}
/* 각 제품 구역 */
.prod-area {
  position: relative;
  width: 100%;
  outline: 1px solid #eee;
  box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.15);
}
