/* DC.com 핵심공통 CSS */
/* 일반폰트 */
@font-face {
    font-family: 'Ubuntu';
    src: url(../static/fonts/Ubuntu-Regular.woff2) format("woff2");
}
  /* 메뉴용 */
@font-face {
    font-family: 'Ubuntu Condensed';
    src: url(../static/fonts/UbuntuCondensed-Regular.woff2) format("woff2");
}