@charset "utf-8";
/* 도깨비 PJ - 메인 CSS */

/* CSS 불러오기 영역 */
/* 리셋, 공통, 코어 외부 CSS합치기(merging) */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}
body > div > * {
    outline-color: red;
}

/* 개별영역 박스 -> 확장형박스로 만들기
-> 개별영역 중앙 속 박스의 높이값을 주면
파트박스가 늘어날 경우 높이값에 제한을 받게 됨
확장형은 반드시 파티박스에 높이값을 설정한다! 
*/

/******** 2. 캐릭터소개영역 ***********/
#banner {
    background: url(../images/bg_mainvisual2.jpg) no-repeat center/auto 100%;
}
.banner .partbox {
    height: 530px;
}
/******** 3. 도깨비메뉴영역 ***********/
/* 1-2-2. dokebi-menu메뉴 */
#dokebi-menu{
    /* 스티키포지션(가장 밖의 박스에 만들기!)
    -상단 스크롤 걸림!! */
    position: sticky;
    top: 0;
    background-color: #fff;
}
.dokebi-menu>ul{
    /* 플렉스박스 */
    display: flex;
    padding: 12px 0;
}
/*.도깨비 메뉴 a */
.dokebi-menu>ul>li>a{/* 도깨비 서브메뉴 설정때문에 >직계선택 필수 */ 
    color: #999;
    display: block;
    font-size: 1.8rem;
    padding: 9px 24px;
    /* 줄바꿈방지! */
    white-space: nowrap;
}
/* 하위메뉴 있는 곳 표시하기 */
.dokebi-menu ul>li.be-sub>a::after{
    content: '∨';
    display: inline-block;
    transform: scale(.6, .4);
    /* font-size는 줄맞춤 해야함 */
    margin-left: 2px;
}
/* 도깨비메뉴 li오버시(a에 하면 서브메뉴 들어갈때 꺼짐) */
.dokebi-menu ul>li:hover>a{
    color: black;
}
/* 현재 선택 된 메뉴 a클래스 */
.dokebi-menu ul>li.on>a{
    color: white;
    background-color: red;
    border-radius: 30px;
}
/* 도깨비서브메뉴 */
.dokebi-sub-menu{
    position: absolute;
    border: 1px solid red;
    border-radius: 15px;
    width: 180px;
    background-color: #fff;
    /* 처음에 숨김 */
    display: none;
}
/* 도깨비서브메뉴 a */
.dokebi-sub-menu a{
    display: block;
    padding: 10px 15px;
    font-size: 1.8rem;
}
/* 도깨비서브메뉴 li오버시*/
.dokebi-menu ul>li:hover .dokebi-sub-menu{
    display: block;
}
/******** 4. 메인영역:.group-part ***********/
/* #main {
    background-color: lightgoldenrodyellow;
} */
/********** 방송편성소개파트 ****************/
.main .group-part-01 .partbox {
    height: 455px;
}
/********** 미리보기파트 ****************/
.main .group-part-02 .partbox {
    height: 298px;
}
/********** 그리드박스공통파트 ****************/
/* 현장포토(.live-box)/대표이미지(.poster-box) */
.grid-box ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
}
/* 현장포토 이미지 공통 */
.grid-box img{
    width: 100%;
    border-radius: 10px;
}
/* 현장포토 이미지 설명 타이틀*/
.grid-box figcaption{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 13px;
}
/********** 대표이미지파트 ****************/
.main .group-part-04 .partbox {
    height: 542px;
}
/* 대표이미지 파트 박스조정 */
.poster-box ul {
    /* 그리드 템플릿 줄 속성 반복사이즈 지정하기 */
    grid-template-rows: repeat(2, min(16.5vw,270px));
    /* min()으로 최대사이즈 지정, 작아질 때 화면 맞춤(vw) */
    /* 결과적으로 일정한 높이값을 줌으로 해서 첫번째 줄의 이미지의 큰 박스가
    아랫쪽으로 나가있고 두번째 줄은 박스크기에 맞게 바로 첫번째 박스아래에 위치 */
}
.poster-box ul li:last-child {
    grid-row: 2/3;
}
/********** 최신동영상파트 ****************/
.main .group-part-05 .partbox {
    height: 376px;
}
